<div class="wrap">
    <h1>Convert file</h1>

    <form enctype="multipart/form-data" method="post" action="" class="media-upload-form type-form validate html-uploader" id="convert-form">

        <div id="html-upload-ui" class="">
            <p id="convert-upload-wrap">
                <label class="screen-reader-text" for="async-upload">Upload</label>
                <input type="file" name="convert-upload" id="async-upload">
                <input type="submit" name="html-upload" id="html-upload" class="button button-primary" value="Upload">
            </p>
            <div class="clear"></div>

        </div>

        <p class="max-upload-size">Maximum upload file size: 100 MB.</p>

    </form>
</div>